<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>博客</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog-list-item.css">
    <link rel="stylesheet" href="/css/paginator.css">
    <style>
        body {
            text-align: center;
        }

        .blog_list {
            width: 60%;
            position: relative;
            left: 20%;
        }
        .app{
            background-color: #fff;
            padding: 20px;
            margin: 0px 80px 0px 80px;
            }
    </style>
</head>
<body style="background:rgba(0,0,0,0);">
<div class="app">

    <div class="blog_list">
    </div>
    <div id="page-wrap">
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/static/bootstrap/js/jquery-1.12.4.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jqPaginator.js"></script>
<script src="/js/paginator.js"></script>
<script src="/js/default.js"></script>
<script>
    // 控件生成器（博客列表条目）
    function make_blog_list_item(data) {
        if (data == null) return null;
        return `
        <li class="consoleHome-listData" blog_id=${data['blog_id']}>
            <div class="consoleHome-listData-left">
                <span class="consoleHome-listData-mark">博客</span>
                <div class="consoleHome-listData-desc">
                    <a href=${data['view_url']} target="_blank">
                        <p class="title" title=${data['title']}>${data['title']}</p>
                        <p title=${$.str_code(data['pre_text'])}>${$.str_code(data['pre_text'])}</p>
                    </a>
                </div>
            </div>

            <div>
                <ul class="consoleHome-listData-num">
                    <li>
                        <p class="listNum">${data['comment_count']}</p>
                        <p>评论数</p>
                    </li>
                    <li><p class="listNum">${data['like_count']}</p>
                        <p>点赞数</p></li>
                    <li><p class="listNum">${data['collection_count']}</p>
                        <p>收藏数</p></li>
                </ul>
            </div>
        </li>
        `;
    }

    const blog_size = 15;
    $(function () {
        $.get('/getBlogNum', function (res) {
            if (res['success']) {
                let data = res['data'];
                $.paginator('#page-wrap', Math.ceil(data['blog_num'] / blog_size), 5, 1, function (num) {
                    $.get('/getAllBlogInfo', {page: num, size: blog_size}, function (res) {
                        let view_url = res['data']['view_url'];
                        let data = res['data']['data'];
                        if (data != null && data.length > 0) {
                            for (let i = 0; i < data.length; i++) {
                                data[i]['view_url'] = view_url + '?blog_id=' + data[i]['blog_id'];
                            }
                            $('.blog_list').empty();
                            $.push_back_controller($('.blog_list'), make_blog_list_item, data);
                        }
                    });
                    console.log('当前第' + num + '页');
                });
            }
        });
    });
</script>
</body>
</html>
